@model MovieArchiveTemplate.Models.ViewModels.NMovieDetails

@{
    ViewBag.Title = "FilmDetay";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>FilmDetay</h2>

@Html.DisplayFor(model => model.Title)